<!DOCTYPE HTML>

<html>

<head>
    
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <script src="/bower_components/webcomponentsjs/webcomponents.js"></script>

    <link rel="stylesheet" href="/stylesheets/style.css"

    <link rel="import" href="/bower_components/polymer/polymer.html">
    <link rel="import" href="/components/app-main.html">

	<title>Competency Browser</title>
    
</head>

<body>

    <app-main></app-main>

</body>

</html>
