@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,700italic,500italic,400italic);

body {
  background-image: url('/images/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-color: gray;
  margin: 0;
  padding: 0;
}
* {
  font-family: 'Roboto';
  font-weight: 300;
}

p {
    font-size: 10pt;
}

iron-icon {

    fill: #3c7d15 !important;
}
