body {
  background-color: gray;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

paper-button {

    padding: 5px;
    margin: 5px;
    color: black;
    background-color: #fff;
    display: inline-block;

}

app-login {

    display: block;

}
